</div>
<div class="footer-padding">
<div class="footer">
  <p>Made with ❤️ by hk</p>
  <a href="https://www.linkedin.com/in/himanshukatariahk03/"><img
      src="https://img.icons8.com/ios-glyphs/30/000000/linkedin.png" /></a>
  <a href="https://www.facebook.com/himanshukatariahk03"><img
      src="https://img.icons8.com/ios-glyphs/30/000000/facebook-new.png" /></a>
  <a href="https://www.instagram.com/mr.katariahk/"><img
      src="https://img.icons8.com/ios-glyphs/30/000000/instagram-new.png" /></a>
</div>
</div>
</body>

</html>